@import "btn_menu";

$font-navbar-color: #4d4d4d;
$font-navbar-size: 18px;
$active-color : #00baff;
$font-navbar: "Roboto", sans-serif;
$max-width: 1366px;

.navbar-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo {
  color: $font-navbar-color;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  ul {
    display: flex;
    justify-content: center;
    li {
      margin-right: 3rem;
      a {
        font-family: $font-navbar;
        font-size: 16px;
        color: $font-navbar-color;
        text-decoration: none;
      }
    }
  }
}

#btn-show {
  display: none;
  cursor: pointer;
  z-index: 100;
}

@media screen and (max-width: 980px) {

  .navbar-second {
    margin-top: 0 !important;
    justify-content: flex-start;

    ul {
      margin-top: 20px;
    }
  }

  .navbar {
    margin-top: 10px;
    flex-direction: column;
    height: 100px;
    align-items: center;

    ul {
      li:last-child {
        margin-right: 0;
      }

      li {
        margin-right: 1rem;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #dropdown-menu {
    z-index: 100;
    position: absolute;
    top: 120px;
    left: 0;
    background-color: white;
    width: 100%;

    li {
      width: 100%;
      a {
        display: block;
        padding: 10px;
      }
    }
  }

  #btn-show {
    display: inline-block !important;
  }

  .navbar {
    ul {
      display: none;
    }
  }
}