@import "colors";
@import "fonts";
@import "global";
@import "header";

.title {
  font-family: "Gotham-Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: $title-color;
  text-transform: uppercase;
}

.card {
  a {
    text-decoration: none !important;

    &:hover {
      color: lighten($card-title-color, 10%);
    }
  }
}

.card img, .card {
  border-radius: 0 !important;
}

.card-date {
  color: $card-data-color;
  font-size: 14px;
  font-family: "Roboto Light", sans-serif;
}

.card-title {
  color: $card-title-color;
  font-size: 22px !important;
  font-family: "Roboto Medium", sans-serif !important;
}

.card-text {
  font-family: "Roboto Light", sans-serif;
  font-size: 16px;
  color: $card-text-color;
}

.t-transf-cap {
  text-transform: capitalize;
}

.adv-item {
  border: 1px solid $border-color;
}

.adv-title {
  font-size: 20px !important;
  font-family: "Roboto Medium", sans-serif;
  color: $adv-title-color;
}

.adv-main-text {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-color: $adv-main-text-color;
  font-size: 16px;
}

.test {
  height: 100px;
  width: 100px;
}
